
<ul data-role="listview" id="global_menu">
	<p id="gm_header_global_menu">Globales Menue</p>
	<li data-icon="delete" id="gm_close_menu">
		<a href="#" data-rel="close">Close menu</a>
	</li>
	<li id="gm_start_page">
		<a href="start.html">Startseite</a>
	</li>
	<li id="gm_create_backup">
		<a href="create_backup_1.html" class="backmeuppanellink">Backup erstellen</a>
	</li>
	<li id="gm_backup jobs">
		<a href="backup_jobs.html">Backup Jobs</a>
	</li>
	<li id="gm_zip_arichiv">
		<a href="zip_archive.html">Zip Archiv</a>
	</li>
	<li id="gm_settings">
		<a href="settings.html">Einstellungen</a>
	</li>
	<li id="gm_start_logout">
		<a href="logout.html">Logout</a>
	</li>
</ul>

